<div class = "reply">
	<p class ="reply-content"><%= reply.content %></p>
	<p class = "reply-posted-by"> By: <%=reply.user.email %> <%= time_ago_in_words(reply.created_at) %> ago </p>

	<div class="links">
		<% if user_signed_in? %>
		 	<% if reply.user_id == current_user.id %>	  
				<%= link_to "Edit", edit_post_reply_path(reply.post, reply) %>
				<%= link_to "Delete", post_reply_path(reply.post, reply), mothod: :delete , data: { confirm: "Are you sure?"} %> 
		 	<%end%>
		<%end%>	
	</div>
</div>