<% @posts.each do |post| %>
<div class ="col-md-10 col-md-offset-1">
	<div class="posts">
		<h2 class="post-title"><%= post.title %></h2>
		<%= link_to "Join Discussion", post, class: "btn btn-default" %>
	</div>
</div>
<%end%>

