<div class ="col-md-10 col-md-offset-1">
	<div class="post-show">
		<h3><%=@post.title%></h3>
			<p class="post-posted-by"><%= time_ago_in_words(@post.created_at) %> ago </p>
			<p class="post-desc"><%= @post.description %></p>
			<br>

			<h4 class='reply-section-header'>Replies</h4>
			<p><%= render @post.replies %></p>

<!--			<h3 class ='reply-to-post'>Reply</h3>  -->
			<%= render 'replies/form' %>


		<div class="links btn-group">
		<br>
			<%= link_to "Back", root_path, class: "btn btn-default" %>

			<% if user_signed_in? %>
			<% if @post.user_id == current_user.id%>

			<%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %>
			<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
			<%end%>
			<%end%>
		</div>

	</div>
</div>