
@import url(https://fonts.googleapis.com/css?family=Lato);
@import "bootstrap-sprockets";
@import "bootstrap";

/* General styles */

body {
  font-family: 'Lato', sans-serif;
}

.btn-custom {
	background-color: #F79210;
	color: #fff;
		font-family: 'Leto', sans-serif; 
	font-weight: 300;
	border-radius: 6px;
	padding: 10px 20px;
	&:hover {
		color: #383838;
		transition: 0.5s;
		background-color: #fff;
		text-decoration: none;
	}
}

.btn:hover {
	transition: 0.5s;
	color: #383838;
	background-color: #fff;
}


/* Navbar styles */

.navbar {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}

.navbar-default {

	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fff;

	.navbar-nav > li > a {
		color: #222;
	}

	.navbar-link {
		color: #222;
	}

	.navbar-brand {
		color: #F79210;
		letter-spacing: 1.1px;
		font-size: 1.9em;
	}

}


/* Links styles */

.links {
	margin-top: 20px;
	.btn-default {
		color: #F79210;
	}
}


/* post styles */

.post{
	box-sizing: border-box;
	background-color: #9696a9;
	border-radius: 5px;
	margin-bottom: 25px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 1.4em 1.4em;
	color: #FFFFFF;
	height: 100px;
	border-bottom: 4px solid #F79210;

	.post-title {
		font-size: 1.2em;
		font-family: 'Asap', sans-serif;
		font-weight: 300;
		margin-top: 0;
		text-color: #FFFFFF;
		margin-bottom: 25px;
	}

	.btn-custom {
		margin-top: 12px;
	}

}

.post:nth-child(4n) {
	clear: left;
}

/* post show-page styles */

.post-show {
	box-sizing: border-box;
	background-color: #9f9f9f;
	border-radius: 5px;
	padding: 2.0em 1.5em;
	border-bottom: 4px solid #F79210;
	color: #FFFFFF;
	font-family: 'Leto', sans-serif;
	font-weight: 300;

	h2 {
		margin-top: 0;
	}

	.post-desc {
		font-size: 1.1em;
		line-height: 1.75;
		margin-bottom: 50px;
	}

	.post-posted-by {
		color: #eee;
		font-size: 0.9em;
	}

	.reply-to-msg {
		margin-top: 50px;
	}

}


/* reply styles */

.reply {
	border-bottom: 1px solid #ec6767;
	padding-top: 15px;
	padding-bottom: 15px;

	.reply-content {
		font-size: 1.25em;
	}	

	.reply-posted-by {
		color: #eee;
		font-size: 0.8em;
	}

	.links {
		margin-top: 15px;
		a {
			color: #FFFFFF;
			margin-right: 15px;
		}
	}
}
